* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

:root {
  --black: #151515;
  --white: #FFFFFF;
  --grey: #F0F0F0;
  --greybg: #CACACA;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.44;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Space Grotesk', sans-serif;
  background-color: var(--greybg);
  color: var(--black);
}
body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  font-size: 1rem;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  vertical-align: top;
}

h3 {
  font-size: 3.33rem;
  letter-spacing: -3px;
  margin-bottom: 44px;
  line-height: 1;
}

@media (max-width:766.98px) {
  h3 {
    font-size: 2.5rem;
  }
}

@media (max-width:374.98px) {
  h3 {
    font-size: 1.55rem;
    letter-spacing: -1.4px;
  }
}